<!-- login.page.html -->
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Check<ion-icon name="checkmark-circle" color="success"></ion-icon>list</ion-title>
  </ion-toolbar>

<ion-content class="ion-padding ion-text-center">
  <h3 class="ion-text-center">(SkeletonAPP)</h3>
  <h1 class="welcome-title">Bienvenido!</h1>
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input [(ngModel)]="userInput" name="userInput"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="passwordInput" type="password" name="passwordInput"></ion-input>
  </ion-item>
  <ion-button class="ion-padding" color="dark" expand="block" (click)="login()">Ingresar</ion-button>
    <a class="ion-text-center" routerLink="/signin">Crea tu cuenta gratis aqui</a>
</ion-content>
