<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Estado de la Tarea</ion-label>
    <ion-select [(ngModel)]="taskStatus" placeholder="Selecciona el estado" interface="popover">
      <ion-select-option value="1">Por Hacer</ion-select-option>
      <ion-select-option value="2">En Progreso</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Título de la Tarea</ion-label>
    <ion-input [(ngModel)]="taskTitle" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción de la Tarea</ion-label>
    <ion-textarea [(ngModel)]="taskDescription" rows="6"></ion-textarea>
  </ion-item>

  <ion-button class="ion-padding" color="dark" expand="block" (click)="addTask(taskStatus)">Añadir Tarea</ion-button>
</ion-content>
