<!-- home.page.html -->
<ion-header>
  <ion-toolbar @fadeState color="dark">
    <ion-title class="ion-text-center">Check<ion-icon name="checkmark-circle" color="success"></ion-icon>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2 class="welcome-title">Bienvenido, {{ userData.userName }}</h2>

  <ion-button class="ion-padding" color="primary" expand="block" (click)="goToAddTask()">
    <ion-icon class="menu-icon" name="create-outline"></ion-icon>
    crear nueva tarea
  </ion-button>

  <ion-button class="ion-padding" color="primary" expand="block" (click)="goToTaskList()">
    <ion-icon class="menu-icon" name="list-outline"></ion-icon>
    ver lista de tareas
  </ion-button>

  <ion-button class="ion-padding" color="primary" expand="block" (click)="goToCompletedTasks()">
    <ion-icon class="menu-icon" name="checkmark-done-outline"></ion-icon>
    ver tareas completadas
  </ion-button>

  <ion-button class="ion-padding" color="secondary" expand="block" (click)="goToInfo()">
    <ion-icon class="menu-icon" name="information-circle-outline"></ion-icon>
    añadir informacion
  </ion-button>

  <ion-button class="ion-padding" color="dark" expand="block" routerLink="/login">
    <ion-icon class="menu-icon" name="log-out-outline"></ion-icon>
    Cerrar Sesión
  </ion-button>  
</ion-content>

<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
